.blog-img {
  width: 80%;
  margin: 0 auto;
}
.blog-card {
  width: 100%;
  max-width: 38rem;
  padding: 2rem 1rem;
  background-color: var(--blogCardBg);
  border-radius: 2rem;
  color: var(--bg-color);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 5px 5px 20px var(--shadow);
}
.user {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
.read-morebtn {
  width: fit-content;
  padding: 0.5rem;
}
.numbered-card {
  display: flex;
  gap: 1rem;
}
.number {
  font-size: 5rem;
  color: var(--lightTextColor);
}
