.blog-img {
  width: 80%;
  margin: 0 auto;
}
.blog-card {
  width: 100%;
  max-width: 38rem;
  padding: 2rem 1rem;
  background-color: var(--blogCardBg);
  border-radius: 2rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  box-shadow: 5px 5px 20px var(--shadow);
}

.user {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
}
.read-morebtn {
  width: fit-content;
  border: none;
}


