:root {
  --maincolor: #967e76;
  --bg-color: #faf8f1;
  --taglinecolor: #a2908a;
  --inputcolor: #c5bab8;
  --inputcolorval: #ad8b73;
  --whiteBg: #fff;
  --error: rgba(163, 19, 19, 0.806);
  --navbarBg: #d6c7ae;
}
