.main-navbar {
  background-color: var(--navbarBg);
}
.navbar-container {
  display: flex;
  justify-content: space-between;
}
.logout-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
}
.heading {
  font-size: 4rem;
  color: var(--maincolor);
  padding: 1.5rem 1rem;
}
.user-icon {
  font-size: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg-color);
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--maincolor);
  color: var(--maincolor);
}
.hamburger-btn {
  display: none;
}
.logout-button {
  color: var(--maincolor);
  font-size: 2rem;
  font-weight: 500;
  background-color: var(--bg-color);
  border: 2px solid var(--maincolor);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

@media (max-width: 569px) {
  .hamburger-btn {
    display: block;
    background: none;
    border: none;
    width: 5rem;
    cursor: pointer;
  }
  .logout-container {
    display: none;
  }
  .overlay {
    width: 100vw;
  }
  .hamburger {
    width: 75%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--bg-color);
  }
  .overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.271);
  }
}
